@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --blue_Dark: #0a0a22;
  --blue_Of_Course: #63b3ed;
  --purble_Of_Course: #9f7aea;
  --yellow: #f6e05e;
  --white: #edecec;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  border: none;
  outline: none;
  text-decoration: none;
}
*::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
body {
  background: linear-gradient(
    130deg,
    rgba(0, 0, 17, 0.83) 0%,
    rgba(0, 21, 69, 1) 100%
  );
  color: var(--white);
  font-family: "Orbitron", sans-serif;
  box-shadow: inset 0 0 15px 0 var(--white);
  height: 100dvh;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  background-image: radial-gradient(
    var(--purble_Of_Course) 1px,
    transparent 1px
  );
  background-size: 5px 5px;
  opacity: 0.2;
}
/*Barra com buttons no topo da página*/
.socialMidiaAndHome {
  width: 100%;
  height: 10dvh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--yellow);
  box-shadow: 0 0 15px 0 var(--white), inset 0 0 15px 0 var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
}
.socialMidiaAndHome button {
  width: 190px;
  height: 5dvh;
  border-radius: 0.3rem;
  cursor: pointer;
  border-bottom: solid var(--purble_Of_Course) 3px;
  background: var(--blue_Dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  transition: .3s ease-in-out;
}
.socialMidiaAndHome button a{
  color: var(--white);
}

.socialMidiaAndHome button img {
  width: 4dvh;
}
.socialMidiaAndHome button:hover {
  border-bottom: solid var(--blue_Of_Course) 3px;
}
/* Imagens e titulo da página */
.headerTitle {
  width: 100%;
  height: 40dvh;
  background-color: #494586;
  box-shadow: 0 0 15px 0 var(--white), inset 0 0 15px 0 var(--white);

  background-image: url("image/animalFriendship.svg"),
    url("image/groupOffriends.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: 35vh, 35vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(0.8rem, 2vw, 2.5rem);
}
.headerTitle h1 {
  color: var(--purble_Of_Course);
  border-bottom: solid var(--yellow) 2px;
  padding-bottom: 0.5rem;
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
}

.containElementsMain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 60dvh;
  padding: 1rem;
}
.containElementsMain h2 {
  font-size: clamp(0.8rem, 3vw, 2.5rem);
  font-weight: bold;
  border-bottom: solid var(--yellow) 2px;
  padding-bottom: 0.5rem;
}

/* Input e button de interação */
#ipnAddNewFriend,
#btnDrawFriend {
  width: clamp(250px, 50vw, 990px);
  height: 45px;
  color: var(--blue_Of_Course);
  font-size: clamp(0.7rem, 2vw, 1.5rem);
  border-radius: 0.7rem;
  box-shadow: -2px -2px 5px 0 var(--white), 2px 2px 5px 0 black;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
#ipnAddNewFriend {
  padding-left: 1rem;
}
#ipnAddNewFriend::placeholder {
  color: var(--blue_Of_Course);
}
#btnDrawFriend {
  cursor: pointer;
}

#ipnAddNewFriend:focus,
#btnDrawFriend:hover {
  opacity: 1;
}
#spanFriendDrawn {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

/* Div resposável por mostrar e organizar os nome para o usuário*/

div#divListFriend.styleDiv {
  width: clamp(250px, 50vw, 990px);
  padding: 0 1.5rem;
  max-height: 150px;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  overflow: hidden;
  overflow-y: scroll;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 15px 0 var(--white), inset 0 0 15px 0 var(--white);
}
div#divListFriend.styleDiv span {
  padding: 0.7rem;
  border-bottom: solid var(--yellow) 2px;
}
input#ipnAddNewFriend.ipnVoid, button#btnDrawFriend.listFriendVoid {
  animation: errorIpn 5s ease-in-out forwards;
  box-shadow: 0 0 20px 0 red;
}

/* Quando o output for vazio irá chamar está animação */
@keyframes errorIpn {
  0% {
    box-shadow: 0 0 20px 0 orange;
  }
  50% {
    box-shadow: 0 0 15px 0 red;
  }
  100% {
    box-shadow: -2px -2px 5px 0 var(--white), 2px 2px 5px 0 black;
  }
}
